<div class="card">
    <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Avatar" style="width:100%"> -->
    <div class="container">
        <h4 style="text-align:left"><b>Filters</b></h4>
        <div class="row">
            <div class="col-3 col-s-3 menu">
                <table>
                    <tr class="center"><td >Launch Year</td></tr>
                    <tr class="center"><hr></tr>
                    <tr><td><button (click)="filterLaunchYr('2006')" mat-button>2006</button></td><td><button (click)="filterLaunchYr('2007')" mat-button>2007</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2008')" mat-button>2008</button></td><td><button (click)="filterLaunchYr('2009')" mat-button>2009</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2010')" mat-button>2010</button></td><td><button (click)="filterLaunchYr('2011')" mat-button>2011</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2012')" mat-button>2012</button></td><td><button (click)="filterLaunchYr('2013')" mat-button>2013</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2014')" mat-button>2014</button></td><td><button (click)="filterLaunchYr('2015')" mat-button>2015</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2016')" mat-button>2016</button></td><td><button (click)="filterLaunchYr('2017')" mat-button>2017</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2018')" mat-button>2018</button></td><td><button (click)="filterLaunchYr('2019')" mat-button>2019</button></td></tr>
                    <tr><td><button (click)="filterLaunchYr('2020')" mat-button>2020</button></td></tr>
                </table>
            </div>
            <div class="col-3 col-s-3 menu">
                <table>
                    <tr class="center"><td>Successfull Launch</td></tr>
                    <tr class="center"><hr></tr>
                    <tr><td><button mat-button>TRUE</button></td><td><button mat-button>FALSE</button></td></tr>
                </table>
            </div>
            <div class="col-3 col-s-3 menu">
                <table>
                    <tr class="center"><td>Successfull Landing</td></tr>
                    <tr class="center"><hr></tr>
                    <tr><td><button mat-button>TRUE</button></td><td><button mat-button>FALSE</button></td></tr>
                </table>
            </div>
        </div>
    </div>